.entry .data {
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
}

.entry .data pre {
    overflow-x: scroll;
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
}